.user-item {
  margin: 0.5rem;
  background-color: #1597e5;
  padding: 0.25rem 0.5rem;
  color: black;
}

.user-item__name {
  font-weight: bold;
  font-size: 1.25rem;
}

.user-item__age {
  font-weight: 400;
}
